@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');


html *{
    box-sizing: border-box;
}

header {
    background-image: url(cade.jpg);
    padding: 10px;
    
    background-size: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url(muro2.jpg)
}



img {max-width: 100%;}

div {
    padding: 50px 50px 75px 100px;
  }


nav > a {
    background-color: #EB8427;
    padding: 10px 18px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

nav > a:hover {
  
    padding: 20px 18px;
    text-decoration: none;
    text-align: center;
}

p {
    text-align: justify;
}

#caixa {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    
}

#po {
    background-color: orange;
    padding: 10px 18px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    display: inline-block;
    
}
 
.cartao {
    background-color: #DBDED1;
    padding: 18px;
    border-radius: 5px;
    }

footer{
    background-color: black;
    color: blanchedalmond;
    
    
     }

     footer p{
         text-align: center;
     }

#sme {
    background-color: transparent;
    color: gray;
   
   } 



